name: Package Release

on:
  push:
    tags:
      - "*"
jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Use Node.js 16.x
        uses: actions/setup-node@v6
        with:
          node-version: 24.x
          registry-url: https://registry.npmjs.org/

      - name: npm test
        run: |
          npm i -g npm
          npm install
          npm test
        env:
          CI: true

      - name: npm auth & publish
        run: npm run build && npm publish --access public --tag latest
        env:
          NODE_AUTH_TOKEN: ${{secrets.Z_NPM_TOKEN}}
